<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="consumerkey" value="LKXmuDbdWYTUt0oqEX8Em8zlE" />
    <add key="consumersecret" value="bghfpC3ZZxc26yw3khMgveKRbweHHn3Kisjd5PSeh5DcgG9aVS" />
    <add key="accessToken" value="101056602-Yh2sjSkJAf4Hxewx4doTGpw54uLmKS5cwrqtxh8D" />
    <add key="accessTokenSecret" value="UNTrwwQcpqzjhll0HMliNK5VIA7hAmMAfOxoIG0Cb1VgO" />
  </appSettings>
</configuration>